<nav class="navbar navbar-expand-sm">
    <div class="container-fluid bg-primary">
        <a class="navbar-brand">
            <img src="assets/img/image-removebg-preview.png" alt="EcoRide" width="130" height="100">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse justify-content-end gap-2" id="navbarCollapse">
            <ul class="navbar-nav p-4">
                <li class="nav-item p-2">
                    <a class="nav-link text-dark" routerLink="/accueil" routerLinkActive="active"><h1> Accueil</h1></a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link text-dark" routerLink="/inscription" routerLinkActive="active"><h1>inscription</h1></a>
                </li>
                <li class="nav-item p-2">
            <a class="nav-link text-dark" routerLink="/connexion" routerLinkActive="active"><h1>Connexion</h1></a>
          </li>
          <li class="nav-item p-2">
              <a class="nav-link text-dark"><h1>covoiturages</h1></a>
            </li>
            <li class="nav-item p-2"> 
                <a class="nav-link text-dark"><h1>Contact</h1></a>
            </li>
        </ul>
    </div>
</div>
</nav>
<router-outlet></router-outlet>
<footer class="footer absolute-bottom">
    <div class="container-fluid w-100 h-100 bg-primary">
      <div class="row h-100 align-items-center">
          <div class="col-6 text-center">
              <a href="#" class="text-dark">nous contacter : jose&#64;EcoRide.fr</a>
            </div>
          <div class="col-6 text-center">
              <a class="text-dark" href="#">mentions légales</a>
          </div>
      </div>
    </div>
</footer>