<nav class="navbar navbar-expand-sm">
    <div class="container-fluid bg-primary">
        <a class="navbar-brand">
            <img src="assets/img/image-removebg-preview.png" alt="EcoRide" width="130" height="100">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/rides">Trajets</a></li>
        <li class="nav-item" *ngIf="isLoggedIn()"><a class="nav-link" routerLink="/rides/new">Proposer un trajet</a></li>
        <li class="nav-item" *ngIf="isLoggedIn()"><a class="nav-link" routerLink="/bookings">Mes réservations</a></li>
        <li class="nav-item" *ngIf="isLoggedIn()"><a class="nav-link" routerLink="/vehicles">Mes véhicules</a></li>
        <li class="nav-item" *ngIf="isLoggedIn()"><a class="nav-link" routerLink="/profile">Mon profil</a></li>
        <li class="nav-item" *ngIf="isLoggedIn()"><a class="nav-link" routerLink="/reviews">Avis</a></li>
        <li class="nav-item" *ngIf="!isLoggedIn()"><a class="nav-link" routerLink="/login">Connexion</a></li>
        <li class="nav-item" *ngIf="!isLoggedIn()"><a class="nav-link" routerLink="/register">Inscription</a></li>
        <li class="nav-item" *ngIf="!isLoggedIn()"><a class="nav-link" routerLink="/accueil">Accueil</a></li>
      </ul>
      <button *ngIf="isLoggedIn()" (click)="logout()" class="btn btn-outline-light">
        Déconnexion
      </button>
    </div>
</div>
</nav>
<main class="flex-fill pt-navbar">
<router-outlet></router-outlet>
</main>
<footer class="footer bg-primary text-center py-3">
  <div class="container d-flex justify-content-between">
    <a class="text-dark" href="#">nous contacter : jose&#64;EcoRide.fr</a>
    <a class="text-dark" href="#">mentions légales</a>
  </div>
</footer>